.card {
    width: 400px;
    height: 650px;
    background-color: #00CED1;
    border-radius: 60px;
    overflow: hidden; /* Это предотвратит выход содержимого за границы карточки */
    transition: transform 0.3s, box-shadow 0.3s; /* Для плавного эффекта при наведении */
    margin: 20px; /* Добавляет отступы вокруг каждой карточки */
}

.photo {
    height: 50%;
    padding: 10px;
}

.info {
    height: 70%;
    padding: 30px;
}

.photo img {
    width: 70%; /* Установим ширину изображения на 70% ширины контейнера */
    border-radius: 20px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
